//CUSTOM COLORS
$darkGreen: rgba(0, 95, 0, 1);
$lightBlue: rgba(71, 71, 255, 1);
$darkRed: rgba(140, 0, 0, 1);
$lightPurple: rgba(161, 61, 161, 1);
//CUSTOM FONTS
$primaryFont: "good vibes";
$secondaryFont: fantasy;
@font-face {
    font-family: "good vibes";
    src: url("goodvibes.ttf");
}


/**/

main {
    font-family: $primaryFont;
}

h1 {
    color: $darkGreen;
    width: fit-content;
    &:hover {
        color: $darkRed;
    }
}

p b {
    color: $lightBlue;
}

pre {
    code {
        color: $darkRed;
    }
}

pre {
    i {
        color: $lightPurple;
    }
}

$sunshine:url("Sunshine.png");
.bg-image {
    background-image: $sunshine;
}

$horizontalRepeat: space no-repeat;
.horizontalRepeat {
    background-repeat: $horizontalRepeat;
}

$verticalRepeat: no-repeat repeat;
.verticalRepeat {
    background-repeat: $verticalRepeat;
}

.width {
    width: 100vw;
}

.height {
    height: 70vw;
}

.size10 {
    background-size: 10%;
}

.size15 {
    background-size: 15%;
}

.size20 {
    background-size: 20%;
}

.size25 {
    background-size: 25%;
}

.size33 {
    background-size: 33%;
}

.size50 {
    background-size: 50%;
}

.size75 {
    background-size: 75%;
}

.size100 {
    background-size: 100%;
}

.stretch {
    background-size: 25% 100%;
}

$darkGradient:linear-gradient(90deg,
green,
black 10% 90%,
blue);
$lightGradient: linear-gradient(90deg,
green,
white 10% 90%,
blue);
.gradient {
    background-image: $lightGradient;
}