//CUSTOM COLORS
$darkGreen: rgba(0, 95, 0, 1);
$lightBlue: rgba(71, 71, 255, 1);
$darkRed: rgba(140, 0, 0, 1);
$lightPurple: rgba(161, 61, 161, 1);
//CUSTOM FONTS
$primaryFont:"good vibes";
$secondaryFont: serif;
//MIXINS
@mixin redText {
    color: red;
}

@mixin boxShadow {
    box-shadow: 5px 5px greenyellow;
}

@mixin textShadow {
    text-shadow: 3px 3px white;
}

@mixin animation1 {
    transform: scale(1) rotate(0deg);
    transition: transform 1s;
}

@mixin animation2 {
    transform: scale(2) rotate(15deg);
    transition: transform 2s;
}

@mixin animation {
    transform: scale(1) rotate(0deg);
    transition: transform 1s;
    &:hover {
        transform: scale(0.5) rotate(-10deg);
        transition: transform 2s;
    }
}

p {
    @include redText;
}

#mixin-example {
    @include boxShadow;
    @include textShadow;
}

#mixin-button {
    @include animation1;
    &:hover {
        @include animation2;
    }
}

#animated-button {
    @include animation;
}

#subtitle {
    width: fit-content;
    @include animation;
}

@font-face {
    font-family: "good vibes";
    src: url("goodvibes.ttf");
}


/**/

main {
    font-family: $secondaryFont;
}

h1 {
    color: $darkGreen;
    width: fit-content;
    &:hover {
        color: $darkRed;
    }
}

p b {
    color: $lightBlue;
}

pre {
    code {
        color: $darkRed;
    }
}

pre {
    i {
        color: $lightPurple;
    }
}

$sunshine:url("Sunshine.png");
.bg-image {
    background-image: $sunshine;
}

$horizontalRepeat: space no-repeat;
.horizontalRepeat {
    background-repeat: $horizontalRepeat;
}

$verticalRepeat: no-repeat repeat;
.verticalRepeat {
    background-repeat: $verticalRepeat;
}

.width {
    width: 100vw;
}

.height {
    height: 70vw;
}

.size10 {
    background-size: 10%;
}

.size15 {
    background-size: 15%;
}

.size20 {
    background-size: 20%;
}

.size25 {
    background-size: 25%;
}

.size33 {
    background-size: 33%;
}

.size50 {
    background-size: 50%;
}

.size75 {
    background-size: 75%;
}

.size100 {
    background-size: 100%;
}

.stretch {
    background-size: 25% 100%;
}

$darkGradient:linear-gradient(90deg,
green,
black 10% 90%,
blue);
$lightGradient: linear-gradient(90deg,
green,
white 10% 90%,
blue);
.gradient {
    background-image: $lightGradient;
}