h1 {
    color: red;
}

a {
    color: green;
    display: block;
}

p {
    color: blue;
    display: inline;
}

img {
    display: none;
}

.gradient-basic {
    background-image: linear-gradient(white, gray);
}

.gradient-degrees {
    background-image: linear-gradient(90deg, green, white, red);
}

.purple {
    color: rgb(rgb(89, 0, 255));
}

.opacity25 {
    opacity: 0.25;
}

.rgba {
    color: rgb(6, 68, 0, 0.354)
}

i,
b {
    color: green;
}

i b {
    color: green;
}

article {
    color: green;
    font-weight: bold;
}

#red-italic {
    color: red;
    font-style: italic;
}

.blue-bold {
    color: blue;
    font-weight: bold;
}