h1 {
    color: red;
}

a {
    color: green;
    display: block;
}

p {
    color: blue;
    display: inline;
}

img {
    display: none;
}

.gradient-basic {
    background-image: linear-gradient(white, gray);
}

.gradient-degrees {
    background-image: linear-gradient(90deg, green, white, red);
}

.gradient-stops {
    background-image: linear-gradient(blue, yellow 10% 90%, purple);
}

.purple {
    color: rgb(rgb(89, 0, 255));
}

.opacity25 {
    opacity: 0.25;
}

.opacity0 {
    opacity: 0;
}

.size12 {
    background-size: 12%;
}

.no-repeat {
    background-repeat: no-repeat;
}

.bg-center {
    background-position: center;
}

.bg-offcenter {
    background-position: 20% 30%;
}

.rgba {
    color: rgb(6, 68, 0, 0.354)
}

i,
b {
    color: green;
}

i b {
    color: green;
}

article {
    color: green;
    font-weight: bold;
}

#red-italic {
    color: red;
    font-style: italic;
}

.blue-bold {
    color: blue;
    font-weight: bold;
}

Custom Borders .border-dashed {
    border-style: dashed !important;
}

.border-dotted {
    border-style: dotted !important;
}

.border-double {
    border-style: double !important;
}

.border-groove {
    border-style: groove !important;
}

.border-ridge {
    border-style: ridge !important;
}

.border-inset {
    border-style: inset !important;
}

.border-outset {
    border-style: outset !important;
}

.box-shadow {
    box-shadow: 2px 2px gray;
}

.text-shadow {
    text-shadow: 2px 2px grey;
}

.rotate:hover {
    transform: rotate(20deg);
}

.translate:hover {
    transform: translate(10px, -10px)
}

.scale:hover {
    transform: scale(2);
}

.scale-rotate:hover {
    transform: scale(2) rotate(20deg);
}

.animation:hover {
    transform: scale(2) rotate(20deg);
    transition: transform 2s;
}

.animation {
    transform: scale(1) rotate(0deg);
    transition: transform 1s;
}